Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.development.local
.next
.git
.gitignore
coverage
.nyc_output
.vscode
.idea
*.log
.DS_Store
Thumbs.db
